# Ignore all raw/processed/feature data
data/
services/__pycache__
utils/__pycache__
.dvc/config
.dvc/config.local
services/feature_store_service/registry.db
services/feature_store_service/online_store.db
services/feature_store_service/.feast
services/feature_store_service/data/
services/feature_store_service/store_1000/
services/feature_store_service/store_2901/
services/feature_store_service/store_2094/
services/feature_store_service/store_384/
services/feature_store_service/feature_store.yaml
.vscode
.venv
.idea
.env
services/web_service/users.json
airflow_env
airflow/dags/__pycache__
airflow/config
airflow/logs
airflow/plugins
airflow/.env 
airflow/airflow.db
airflow/airflow.cfg  
airflow/simple_auth_manager_passwords.json.generated
netflix_recommender.egg-info/
logs/
model/
mlruns/
services/web_service/static/images/cast/
services/web_service/static/images/movie/
services/web_service/static/images/tv/
services/web_service/static/images/.gitignore
